a {
  color: var(--bs-link-color);
  text-decoration: none !important;
}
.alert{
  position: absolute;
  top:74px;
  right:0;
}
.cookie-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}
.text-gradient {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  -webkit-background-clip: text;
  color: transparent;
}

.about-section img {
  border: 4px solid #f8f9fa;
}

.list-unstyled li {
  font-size: 1.1rem;
  line-height: 1.8;
}