html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* S'assurer que la hauteur de la page est complète */
}
a {
  color: var(--bs-link-color);
  text-decoration: none !important;
}
.alert{
  position: absolute;
  top:74px;
  right:0;
}
.cookie-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}