a {
  color: var(--bs-link-color);
  text-decoration: none !important;
}
.alert{
  position: absolute;
  top:74px;
  right:0;
}
.cookie-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}