.name{
    margin-left: 10px;
}
.fw-500 {
    font-weight: 500 !important;
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn i {
    vertical-align: middle;
    font-size: 1em; /* Ajustez selon la taille de vos textes */
    line-height: 1;
  }


