.projet-one__single {
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #e2dfeb;
  border-radius: .375rem;
}
.projet-one__single:hover .projet-one__img>a {
  opacity: 1;
  transform: translateY(0);
}
.projet-one__img__wrapper {
  position: relative;
}
.projet-one__img {
  height: 250px;
  position: relative;
  overflow: hidden;
}
.projet-one__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  transition: 0.5s;
  display: block;
}
.projet-one__single__img__link {
  display: flex
;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(-20%);
  z-index: 1;
  border-radius: inherit;
  transition: opacity 500ms ease, transform 500ms ease;
}
.projet-one__single__img__link::before, .projet-one__single__img__link::after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.projet-one__single__img__link::before, .projet-one__single__img__link::after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.projet-one__single__img__link::after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.projet-one__categories {
  display: inline-block;
  background-color: #eb5d5d;
  color: #fff;
  padding: 6px 20px;
  line-height: 18px;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  top: 10px;
  left: -5px;
  z-index: 11;
}
.projet-one__categories:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  border-right: 0 solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #eb5d5d;
}
.projet-one__love {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.07);
  z-index: 11;
  cursor: pointer;
}
.projet-one__love i {
  font-size: 20px;
  color:  #21212d;
  transition: 0.5s;
}
.projet-one__content {
  padding: 35px 20px 20px;
  text-align: center;
}
.projet-one__time-remaining {
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
}
.time-remaining i {
  color: #58aec0;
}
.projet-one__title {
  font-size: 24px;
  margin: 10px 0 27px;
  line-height: 28px;
  color:  #21212d;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: -1px;
}
.projet-one__infu-wrap {
  display: flex;
  border-top: 1px solid  #e2dfeb;
  text-align: left;
  justify-content: space-between;
  align-items: center;
}
.projet-one__achive {
  display: flex;
  padding-right: 60px;
  padding-top: 10px;
  align-items: center;
  justify-content: flex-start;
  border-right: 1px solid #e2dfeb;
}
.projet-one__achive-icon a {
  font-size: 25px;
  padding-top: 6px;
  color: #58aec0;
}
.projet-one__achive-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projet-one__achive-level {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}
.projet-one__achive-vlaue {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #21212d;
}
.projet-one__goal {
  display: flex;
  padding-top: 10px;
  align-items: center;
  justify-content: flex-start;
}
.projet-one__bottom {
  background: #eef5f7;
  text-align: left;
  padding: 15px 20px;
}
.projet-one__bottom .progress-box .progress-box__bar-text {
  color: #21212d;
}
.progress-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.progress-box__bar {
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: relative;
}
.progress-box__bar__inner {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #eb5d5d;
  transition: all 800ms linear;
  width: 0px;
}
.progress-box__bar__inner::after {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #eb5d5d;
  position: absolute;
  right: 0;
  top: -3px;
  z-index: 1;
}
.progress-box__bar-text {
  font-weight: 500;
  color: #fff;
  padding-right: 10px;
  padding-bottom: 4px;
}
.progress-box__bar-number {
  padding-left: 10px;
  display: flex;
}
/* detail projet */
.project-header img {
  width: 100%; /* L'image couvre toute la largeur du conteneur */
  height: 400px; /* Définir une hauteur appropriée pour l'image, vous pouvez l'ajuster selon vos besoins */
  object-fit: cover; /* L'image couvrira toute la zone, en conservant ses proportions */
  object-position: top;
  border-radius: 0.375rem; /* Bordure arrondie pour l'image */
}
.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); /* Overlay sombre pour améliorer la lisibilité du titre */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border-radius: 0.375rem; 
}
.header-overlay h1 {
  font-size: 3rem; /* Taille du texte */
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Ombre portée pour améliorer la lisibilité */
}